<h1>新規登録</h1>
<%= form_with model:@blog, local:true do |f| %>

  <h1>タイトル</h1>
  <%= f.text_field :title %>

  <h1>カテゴリ</h1>
  <%= f.text_field :category %>

  <h1>本文</h1>
  <%= f.text_area :body %>

  <%= f.submit '投稿'%>

<% end %>